<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs') %>

  <body class="container shadow">
    <noscript> Please turn on JavaScript or change browsers!</noscript>

    <%- include('header.ejs') %>

    <main class="container" role="main">
      <div class="text-center text-justify">
        <h1>
          <strong>Contact</strong>
        </h1>
        <p class="lead">
         96, Agion Apostolon, Chania 73100 Crete, GREECE <br />
         Tel: +30 6945768867 / +30 6940870234 <br />
         email: info@car-rentals-chania.gr <br />
          <br />
        
        </p>
      </div>
    </main>

    <%- include('footer.ejs') %>
  </body>
</html>
